@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

main {
	// max-width: 75vw;
	margin: 40px auto;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	width: 100vw; /* Don't let the page shift when the scrollbar appears */
	overflow-y: scroll; /* Ensures the scrollbar space is reserved */
}
